@import url(https://fonts.googleapis.com/css?family=Raleway:600);
@import url(https://fonts.googleapis.com/css?family=Raleway:800);

::-moz-selection {
    background-color: #fff;
}

::selection {
    background-color: #fff;
}

html {
    cursor: none;
}

body {
	background: #000;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
}

#pointer {
    position: absolute;
    z-index: 1;
    height: 2.5vh;
    width: 2.5vh;
    border-radius: 50%;
    background: #fff;
}

#center {
    position: absolute;
    margin: auto;
    display: inline-block;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 60vw;
    height: 53vh;
    color: #fff;
    white-space: nowrap;
    text-align: justify;
    text-align-last: justify;
}

h1,
h2,
p,
a {
    padding: 0;
    color: #fff;
    font-size: 3vw;
    display: inline;
	line-height: 1.9vw;
}

h2 {
	text-decoration: bold;	
}

a {
    text-decoration: none;
    cursor: none;
}

@media screen and (min-width: 0px) and (max-width: 720px) {
	html {
		cursor: auto;	
	}

	#center {
		width: 92vw;
		height: 40vh;
	}

    #pointer {
        visibility: hidden;
    }
 
	h1,
	h2,
	p,
	a {
    	font-size: 4.6vw;
		line-height: 2vw;
	}

    a {
        cursor: auto;
    }
}
